{% load readmore %}
{% load i18n %}
{% load profile %}


<h3>{% trans 'Carpool' %}</h3>
<div class="row text-center">
    {% if request.user.is_authenticated %}
    <div class="col-sm-6">
        <a class="btn btn-sm btn-default" href="{% url 'carpool-create' %}">
            {% trans 'Add a carpool' %}
        </a>
    </div>
    {% endif %}
    <div class="col-sm-6">
        <a class="btn btn-sm btn-default" href="{% url 'carpool-list' %}">
            {# Translators: Archives #}
            {% trans 'Records' %}
        </a>
    </div>
</div>

<ul class="list-unstyled">
    {% for item in cov %}
    <li>

        {% profile_link item.author %}

        <div class="pull-right">
            {% if item.author == request.user %}
                <a href="{% url 'carpool-edit' item.id %}"><i class="fa fa-pencil"></i></a>
                <a href="{% url 'carpool-delete' item.id %}"><i class="fa fa-trash-o"></i></a>
            {% else %}
                {% with subject='['|add:_('carpooling')|add:'] '|add:_('About')|add:' : "'|add:item.notes|add:'"'|urlencode %}
                {% mail_link item.author '' subject %}
                {% endwith %}
            {% endif %}
        </div>

        <br/>

        {% if item.annonce_type == 0 %}
        <span class="label label-success">
            {% trans 'Offer' context "1st p sg" %}
        </span>
        {% else %}
        <span class="label label-danger">
            {% trans 'Search' context "1st p sg" %}
        </span>
        {% endif %}

        <span class="label label-primary">
            {{ item.good_until|date:'SHORT_DATETIME_FORMAT' }}
        </span>

        <br/>

        {{ item.notes|readmore:10 }}

        <span class="text-muted">
            <small>{% blocktrans with TimeSince=item.posted_at|timesince %}{{ TimeSince }} ago{% endblocktrans %}</small>
        </span>

    </li>
    {% endfor %}
</ul>
