{% extends "home/layout_three_columns.html" %}


{% load i18n %}
{% load bootstrap3 %}
{% load profile %}


{% block title%}{% trans 'Carpools' %}{% endblock %}


{% block content %}
<div class="well">
    <a class="btn btn-primary btn-block text-center" href="{% url 'carpool-create' %}">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans "Add a carpool offer/search" %}
    </a>

    <h3>{% trans 'Last carpools list' %}</h3>

    <ul class="list-unstyled">
        {% for cov in covs %}
            <li class="cov-item{% if not cov.isGood %} text-muted{% endif %}">

                {% profile_link cov.author %}

                {% if cov.annonce_type == 0 %}
                    <span class="label {% if cov.isGood %}label-success{% else %}label-default{% endif %}">
                        {% trans 'Offer' context "1st p sg" %}
                    </span>
                    {% else %}
                    <span class="label {% if cov.isGood %}label-danger{% else %}label-default{% endif %}">
                        {% trans 'Search' context "1st p sg" %}
                    </span>
                {% endif %}

                <span class="label {% if cov.isGood %}label-primary{% else %}label-default{% endif %}">
                    {{ cov.good_until|date:'DATETIME_FORMAT' }}
                </span>

                <div class="pull-right">
                {% if cov.author == request.user %}
                    <a href="{% url 'carpool-edit' cov.id %}"><i class="fa fa-pencil"></i></a>
                    <a href="{% url 'carpool-delete' cov.id %}"><i class="fa fa-trash-o"></i></a>
                {% else %}
                    {% with subject='['|add:_('carpooling')|add:'] '|add:_('About')|add:' : "'|add:cov.notes|add:'"' %}
                    {% mail_link cov.author _('contact') subject %}
                    {% endwith %}
                {% endif %}
                </div>

                <br/>

                {{ cov.notes }}

                <span class="text-muted"><small>{% blocktrans with TimeSince=cov.posted_at|timesince %}{{ TimeSince }} ago{% endblocktrans %}</small></span>

                <hr/>
            </li>

        {% endfor %}
    </ul>

    <div class="pagination-container">
        {% bootstrap_pagination page_obj %}
    </div>
</div>
{% endblock %}
